
/*color and fonts*/
*{
    font-family: roboto;
}
.footer,
.header,
.subheader{
background-color:#1F2937 ;
}

.signup{
    color: white;
    padding: 5px;
    text-align: center;
    width: 75px;
    height: 30px;
    border-radius: 8px;
}
.subtitle{
    font-size: 48px;
    color: #F9FAF8;
    font-size: 800;
}

.subtext,
.left-header{
    font-size: 18px;
    color: #E5E7EB; 
}

.right-header{
    font-size: 24px;
    color: #F9FAF8;
}

.signup,
.action,
.actionbutton{ 
    background-color: #3882F6;
}
.title-info{
    color: #1F2937;
    font-size: 36px;
    font-weight: 800px;
}

.lower-content{
    background-color: #E5E7EB;
}

.quote{
    font-size: 36px;
    font-weight: light;
    font-style: italic;
    color: #1F2937;
}

/*Flexbox elements*/

.header{
    display: flex;
    justify-content: space-between;
    padding: 8px;
}

.left-header, 
.right-header{
    display: flex;
    align-items: center;
}

ul{
    display: flex;
    margin: 0;
    padding: 0;
    gap: 16px;
    list-style: none
}

.placeholder{
    display: flex;
    text-align: center;
    padding:100px;
    background-color: grey;
    justify-content: center;
    margin: auto;
}

.subheader{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 32px;
}

.subtitle{
    margin-left: auto;
    width: 300px;
}

