@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/*color and fonts*/
* {
    font-family: Roboto;
    font-weight: 400;
}
.footer,
.header,
.subheader{
background-color:#1F2937 ;
}

.signup{
    color: white;
    padding: 5px;
    text-align: center;
    width: 75px;
    height: 30px;
    border-radius: 8px;
    font-weight: 800px;
}
.subtitle{
    font-size: 48px;
    color: #F9FAF8;
    font-size: 800;

}

.subtext,
.left-header{
    font-size: 18px;
    color: #E5E7EB; 
}

.right-header{
    font-size: 24px;
    color: #F9FAF8;
}

.signup,
.action,
.actionbutton{ 
    background-color: #3882F6;
}
.title-info{
    color: #1F2937;
    font-size: 36px;
    font-weight: 800px;
}

.lower-content{
    background-color: #E5E7EB;
}

.quote{
    font-size: 36px;
    font-weight: light;
    font-style: italic;
    color: #1F2937;
}

/*Flexbox elements*/

.header{
    display: flex;
    justify-content: space-between;
    padding: 8px;
    padding-left: 307px;
    padding-right: 305px;
}

.left-header, 
.right-header{
    display: flex;
    align-items: center;
}



ul{
    display: flex;
    margin: 0;
    padding: 0;
    gap: 16px;
    list-style: none
}

.placeholder{
    display: flex;
    text-align: center;
    padding:100px;
    background-color: grey;
    justify-content: center;
    margin: auto;
}

.subheader{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 32px;
}

.subtitle{
    margin-left: auto;
    width: 320px;
}

.cardbox{
 display: flex;
 justify-content: space-between;
 padding:32px;
 flex-wrap: wrap;
}

.title-info{
 text-align: center;
}

.card{
    padding: 16px;
    margin: 16px;
    width: 300px;
}
.text{
    text-align: center;
}

.content{
    margin: 50px;
}

.lower-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 120px;
}
.quote{
    align-self: flex-start;
    margin: auto;
    border:40px;

}

.verse{
    align-self: flex-end;
    font-size: 24px;
}

.action{
    display: flex;
    margin: 80px;
    margin-left: 150px;
    margin-right: 150px;
    color: white;
    flex-shrink: 0;
    justify-content: space-between;
    padding: 30px;
    border-radius: 8px;
}

.callbox{
margin-left: 60px;
}

.actionbutton{
    color: white;
    padding: 5px;
    text-align: center;
    width: 75px;
    height: 30px;
    border-radius: 4px;
    font-weight: 800px;
    border-color: white;
    margin-right: 80px;
}

.footer{
    display: flex;
    justify-content: center;
    padding: 40px;

}

.footertext{
    color: white;
}